*,
*::before,
*::after{
box-sizing: border-box;
border: none;
margin: 0;
padding: 0;
}

body {
background-color: sandybrown;

}

header {
font-size: 25px;
text-align: left;
text-decoration: white;
padding: 10px;
display: flex;
justify-content: space-between;
}

header a {
padding: 10px;
text-decoration: none;
text-align: center;
color:whitesmoke;
font-size: 20px;

}


.nav-bar {
background-color: transparent;
overflow: hidden;
padding: 10px;

}

.nav-bar a {
color: black;
font-size: 17px;
text-decoration: none;
padding: 25px 20px;
text-transform: uppercase;
font-weight: bold;
text-align: center;

}

.nav-bar li {
display: inline-block;
text-align: right;

}

.hero-image {
height: 80vh;
width: 100%;
background: url(../images/camel-tour.jpg.jpg) no-repeat center; 
display: flex;
background-size: cover;
justify-content: center;

}

.hero-text {
font-size: 150%;
letter-spacing: 2px;
text-align: center;
position: absolute;
top: 50%;
right: 50%;

}

.section {
max-width: 1000px;
text-align: center;
font-size: 20px;
margin: 0 auto;
padding: 20px;
border: 5px solid whitesmoke;
margin-top: 2%;
margin-bottom: 2%;
}

.center {
margin-left: auto;
margin-right: auto;
text-align: center;
}

.container {
width: 100%;
padding: 0 1em;
display: grid;  
grid-template-columns: repeat(2,1fr);

}

.first-image{
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: center;

}

.container .first-image .second-image .third-image {
width: 100%;
height: 100%;
object-fit: cover;
padding: 5px;
}

.heading {
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

.quad-biking {
text-align: center;
padding-bottom: 5px;
padding: 20px;
}

.first-text p {
padding-left: 15px;
}

.sahara-tour{
text-align: center;
padding-bottom: 5px;
padding: 20px;
}

.second-image{
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: center;

}

.second-text{
padding-left: 15px;
}


.sandboarding{
    text-align: center;
    padding-bottom: 5px;
    padding: 20px;
}

.third-image{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.third-text p{
    padding-left: 15px;      
}


.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(225, 200, 200);
    width: 50%;
    left: 20%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid whitesmoke;

}

.contact-section h2 {
    text-align: center;
    padding: 15px;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

label {
    font-size:15px;
    padding: 5px;
    border: 5px;
    color: black;

}
.text-input{
    padding: 3px;
    height: 25px;
    margin: 5px 0 20px 0;
    width: 30%;
    
}

button {
    width: 30%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border: 1px solid;
}

.social-net {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    list-style: none;
}

.social-net i {
    color: black;
    font-size: 32px;
    padding: 16px;
}

.response-page {
    align-items: center;
    background-image: url(../images/camels-sahara.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
    position: relative;
    
}

.response-page p {
    text-align: center;
    font-size: 30px;
    color: black;
    padding: 15px;
    
}