/* Global Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #D2A46A;
    font-family: Cambria, 'Times New Roman';
}

/*Header and logo styling*/

header {
    text-align: left;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

header a {
    text-decoration: none;
}

.logo {
    color: #193f51;
    text-decoration: none;
    font-size: 40px;
    margin-left: 25px;

}

.logo:hover {
    color: whitesmoke;
}

header a:hover {
    color: whitesmoke;
}

/*Navigation link styles*/

.nav-bar {
    background-color: transparent;
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: center;

}

.nav-bar a {
    color: #193f51;
    font-size: 20px;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
    text-align: center;
}

.nav-bar li {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    white-space: nowrap;
}

/*Hero image and hero text styling*/

.hero-image {
    height: 100vh;
    width: 100%;
    background: url(../images/camel-tour.webp.jpg) no-repeat center;
    display: flex;
    background-size: cover;
    justify-content: center;
    position: relative;

}

.hero-text {
    font-size: 110%;
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    top: 58%;
    color: #193f51;
    right: 40%;

}

/*About us section styling*/

.section {
    max-width: 1000px;
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid whitesmoke;
    margin-top: 2%;
    margin-bottom: 2%;
}

.heading {
    text-align: center;
    color: #193f51;
}

.section p {
    color: #483b3a;
}

/*Table content styles*/

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table {
    width: 50%;
}

.table-1 {
    background-color: #5D392E;
    color: whitesmoke;
}

.table-2 {
    background: #483b3a;
    color: whitesmoke;
}

/*Activities h2 section styling*/

.activities-header {
    padding: 10px;
    text-align: center;
    color: #193f51;
}

/*Activities div container styling for images and text*/

.container {
    width: 100%;
    padding: 0 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container h2 {
    color: #193f51;
}

.first-image {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container .first-image .second-image .third-image {
    object-fit: cover;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.quad-biking {
    text-align: center;
    padding-bottom: 5px;
    padding: 20px;
}

.text p {

    color: #483b3a;
    padding-left: 15px;
    font-size: 17px;
}

.sahara-tour {
    text-align: center;
    padding-bottom: 5px;
    padding: 20px;
}

.second-image {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sandboarding {
    text-align: center;
    padding-bottom: 5px;
    padding: 20px;
}

.third-image {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Contact us form section styling*/

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8BAFBA;
    width: 50%;
    height: 100%;
    left: 20%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid whitesmoke;
}

.contact-section h2 {
    text-align: center;
    padding: 15px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

label {
    font-size: 15px;
    padding: 5px;
    border: 5px;
    color: black;
}

.text-input {
    padding: 3px;
    height: 25px;
    margin: 5px 0 20px 0;
    width: 50%;

}

/*Form submit button styling*/

.button {
    width: 30%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    border: 1px solid;
    color: #193f51;
}

button:hover {
    color: whitesmoke;
    background: #193f51;
    cursor: pointer;
}

/*Footer social links styling*/

.social-net {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    list-style: none;
}

.social-net i {
    color: black;
    font-size: 32px;
    padding: 16px;
}

.social-net i:hover {
    color: whitesmoke;
}

/*Response page styling with background image and text*/

.response-page {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, #0000001f 0%, #00000094 100%, #00000029 95%), url(../images/camels-sahara.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
    position: relative;
}

.response-text {
    text-align: center;
    margin-bottom: 20%;
    color: #193f51;
    font-size: 18px;
}

.response-page p {
    text-align: center;
    color: black;
    top: 10%;
    position: absolute;
    border: 2px solid #193f51;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

/*All Media queries*/

@media all and (max-width:768px) {
    .contact-section {
        width: 100%;
    }

    .response-page {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}

/*Media queries for smaller screen devices*/

@media screen and (max-width:1080px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; 
        padding: 5px;
    }

    .response-text {
        margin-bottom: 55%;
    }

}
@media screen and (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .nav-bar a {
        padding: 10px 0;
    }
}